// resource configurations
process {
    withName: 'qc_raw_fastq' {
        memory '4 GB'
        cpus 2
    }

    withName: 'read_alignment' {
        memory '8 GB'
        cpus 4
    }

    withName: 'gene_quantification' {
        memory '4 GB'
        cpus 2
    }

    withName: 'differential_expression' {
        memory '4 GB'
        cpus 2
    }

    withName: 'gct_file_conversion' {
        memory '2 GB'
        cpus 1
    }
}

params {
    // Input FASTQ files
    fastq = './raw_data/*.fastq'

    // location of the index files
    genome_index = './resources/genome_index/genome'

    // Gene annotation file
    annotation = './resources//annotation.gtf'

    // Adapter file for Trimmomatic
    adapter_file = './resources//adapters.fa'

    // Output directories for various results
    fastqc_reports = './results/fastqc_reports'
    trimmed_dir = './results/trimmed'
    aligned_bam_dir = './results/aligned_bams'
    counts_dir = './results/counts'
    deseq2_results_dir = './results/deseq2_results'
    gct_file_dir = './results/final_results'

    // Path to R or Python scripts for downstream analysis
    scripts_dir = './scripts'
}

// Specify the work directory for temporary working files
workDir './work'  

// Executor configuration
executor {
    name = 'local'
    queueSize = 100
    maxRetries = 3
    retryDelay = 60
}
