params {
    fastq = './data/*.fastq'
    genome_index = './data/genome_index'
    annotation = './data/annotation.gtf'
    adapter_file = './data/adapter.fa'
    fastqc_reports = './results/fastqc_reports'
    trimmed_dir = './results/trimmed'
    aligned_bam_dir = './results/aligned_bams'
    counts_dir = './results/counts'
    deseq2_results_dir = './results/deseq2_results'
    gct_file_dir = './results/final_results'
    scripts_dir = './scripts'
}